@using TMS.Entities
@using TMS.Web.UI.Helpers
@model DemographicDetail

<ul class="list-group">
  <li class="list-group-item list-group-item-text list-group-item-info"><i class="fa fa-phone fa-fw fa-lg"></i>@Html.LabelForPascal(lead => lead.CommunicationDetails)<i class="fa fa-chevron-down pull-right"></i></li>
  <li class="list-group-item">
    <table class="table table-condensed" id="communicationDetail">
      <tbody>
        <tr>
          <td colspan="4" style="border-top:none;"><span class="btn btn-primary btn-xs btn-primary btn-outline pull-right" data-toggle="modal" data-uri="@Url.Action("Index", "CommunicationDetail")" data-style="zoom-out"><i class="glyphicon glyphicon-plus"></i></span></td>
        </tr>
        <tr>
          <td class="col-md-2"><span class="pull-right"><strong>Is Preferred?</strong></span></td>
          <td class="col-md-2"><strong>Comm. Type</strong></td>
          <td class="col-md-6"><strong>ID</strong></td>
          <td class="col-md-2"></td>
        </tr>
        @if (Model.CommunicationDetails != null && Model.CommunicationDetails.Any())
        {
          foreach (CommunicationDetail communicationDetail in Model.CommunicationDetails)
          {
            <tr>
              <td>
                @if (communicationDetail.IsPreferred)
                {
                  <span class="pull-right"><i class="fa fa-check-square fa-lg"></i></span>
                }
                else
                {
                  <span class="pull-right"><i class="fa fa-square-o fa-lg"></i></span>
                }
              </td>
              <td>
                @switch (communicationDetail.CommunicationType)
                {
                  case CommunicationType.Email:
                    <i class="fa fa-envelope fa-lg"></i>
                    break;
                  case CommunicationType.Phone:
                  <i class="fa fa-phone-square fa-lg"></i>
                    break;
                  case CommunicationType.Mobile:
                  <i class="fa fa-mobile fa-lg"></i>
                    break;
                  case CommunicationType.Skype:
                  <i class="fa fa-skype fa-lg"></i>
                    break;
                  case CommunicationType.Twitter:
                  <i class="fa fa-twitter-square fa-lg"></i>
                    break;
                  case CommunicationType.Facebook:
                  <i class="fa fa-facebook-square fa-lg"></i>
                    break;
                  case CommunicationType.LinkedIn:
                  <i class="fa fa-linkedin-square fa-lg"></i>
                    break;
                  case CommunicationType.Fax:
                  <i class="fa fa-print fa-lg"></i>
                    break;
                  default:
                  <i class="fa fa-question fa-lg"></i>
                    break;
                }
              </td>
              <td>@communicationDetail.Uri</td>
              <td><span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </li>
</ul>