@using TMS.Web.UI.Helpers
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>@ViewBag.Title</title>

  @Scripts.Render("~/Scripts")
  @Styles.Render("~/Content")

  <style type="text/css">
    .table tbody > tr > td.vert-align {
      vertical-align: middle;
    }

    .lisp:hover {
      cursor: pointer !important;
      color: #31708f
    }

    body {
      font-family: "Microsoft sans serif";
      /*background-color: #2C3E50;*/
    }

    .padding-top {
      padding-top: 7px;
    }

    .margin-right {
      margin-right: 5px;
    }

    .panel-body {
      padding: 10px;
      padding-bottom: 0px;
    }

    .li-condenced {
      padding: 0px;
      margin: 0px;
    }

    .popover-medium {
      max-width: 350px;
    }

    .fa-sm {
      font-size: 0.85em;
      vertical-align: -40%;
    }

    .td:hover {
      cursor: pointer !important;
      color: #c0c0c0;
    }

    .fa-al {
      vertical-align: -12%;
    }
  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-header" href=""><img src=@Url.Content("~/Images/dojo-learning.png") class="img-rounded" style="height: 60px;" alt="Logo" /></a>
      </div>

      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">

            @*<li>
                <a href="#">
                  <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                      <em>Yesterday</em>
                    </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
              </li>*@
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-tasks">
            @*<li>
                <a href="#">
                  <div>
                    <p>
                      <strong>Task 1</strong>
                      <span class="pull-right text-muted">40% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>*@
          </ul>
          <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            @*<li>
                <a href="#">
                  <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>*@
          </ul>
          <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
    </nav>
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="list-group" id="side-menu">
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Dashboard"))
            {
              <span data-uri="/tmsweb/dashboard"><i class="fa fa-dashboard fa-lg fa-fw"></i><strong> Dashboard</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/dashboard"><i class="fa fa-dashboard fa-lg fa-fw"></i> Dashboard</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Activity"))
            {
              <span data-uri="/tmsweb/activity"><i class="fa fa-bell fa-lg fa-fw"></i><strong> Activities</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/activity"><i class="fa fa-bell fa-lg fa-fw"></i> Activities</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Contact"))
            {
              <span data-uri="/tmsweb/contact"><i class="fa fa-th-list fa-lg fa-fw"></i><strong> Contacts</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/contact"><i class="fa fa-th-list fa-lg fa-fw"></i> Contacts</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Lead"))
            {
              <span data-uri="/tmsweb/lead"><i class="fa fa-users fa-lg fa-fw"></i><strong> Leads</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/lead"><i class="fa fa-users fa-lg fa-fw"></i> Leads</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Course"))
            {
              <span data-uri="/tmsweb/course"><i class="fa fa-book fa-lg fa-fw"></i><strong> Courses</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/course"><i class="fa fa-book fa-lg fa-fw"></i> Courses</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "Instructor"))
            {
              <span data-uri="/tmsweb/instructor"><i class="fa fa-users fa-lg fa-fw"></i><strong> Instructors</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/instructor"><i class="fa fa-users fa-lg fa-fw"></i> Instructors</span>
            }
          </li>
          <li class="list-group-item lisp">
            @if (Request.RawUrl.Contains(target: "User"))
            {
              <span data-uri="/tmsweb/user"><i class="fa fa-users fa-lg fa-fw"></i><strong> Users</strong></span>
            }
            else
            {
              <span data-uri="/tmsweb/user"><i class="fa fa-users fa-lg fa-fw"></i> Users</span>
            }
          </li>
        </ul>
        <!-- /#side-menu -->
      </div>
      <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          @RenderBody()
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>
  </div>
</body>
</html>